# Python
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
dist/
build/
.env
.venv
*.log

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Test files
.coverage
.cache/
htmlcov/
.pytest_cache/
